/* This is going to be used for any modified/custom styling */

/* all pages */
.navbar-brand{
    display: flex;
    justify-content: center;
}

/* contact page */
form{
    margin: 100px;
    border: 2px ridge black;
    border-radius: 15px;
    padding: 20px;
}
.contactH{
    display: flex;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
}

/* index page */
.bx-wrapper{
    margin: 77px auto;
}
.sliderP{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.deadpoolgif{
    height: 100%;
    width: 100%;
}

.bx-viewport{
    width: 100%;
    height: 100%;
}
.bx-wrapper .bx-controls-direction a {
    top: calc(50% + 60px);
}

/* Product page */
.productH{
    text-align: center; 
    font-family: 'Russo One', sans-serif;

}
.productSec{
    display: grid;
    grid-template-columns: 35% 35%;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}
.productP{
    margin: 20px; 
    font-size: 40px; 
    text-align: center; 
    font-family: 'Josefin Sans', sans-serif;
}
/* .nav-item.dropdown{
    border-radius: .25rem;
} */
/* .nav.nav-pills.flex-column.flex-sm-row{
    display: grid;
    grid-template-rows: 25% 25% 25%;
    grid-template-columns: 25% 25% 25%;
} */
    /* @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } */
/* Footer */
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: flex;
    justify-content: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    display: flex;
    justify-content: center;
}
  
.fa:hover {
      opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}  